.chat-main
  .chat-main__main-header
    .chat-main__main-header__left
      .chat-main__main-header__left__group
        = @group.name
      .chat-main__main-header__left__member
        - @group.users.each do |user|
          =user.name
    .chat-main__main-header__right__edit
      = link_to edit_group_path(@group) do
        Edit

  .chat-main__messages
    = render @messages
    -# .message
    -#   .message__info
    -#     .message__info__group
    -#       group
    -#     .message__info__time
    -#       2020/05/14(Thr) 11:45:09
    -#   .message__text
    -#     hello
    -# .message
    -#   .message__info
    -#     .message__info__group
    -#       group
    -#     .message__info__time
    -#       2020/05/14(Thr) 11:45:09
    -#   .message__text
    -#     hello
  .chat-main__form
    = form_for [@group, @message] do |f|
      .form
        =f.text_field :content, class: 'form__message', placeholder: 'type a message' 
        
        = f.label :image, class: 'form__message__img' do
          
          = icon('fa','image',class: 'icon')
          = f.file_field :image, class: 'hidden'
        =f.submit 'Send', class: 'form__submit'